In [1]:
%load_ext watermark
%watermark

2020-11-03T20:33:50+01:00

CPython 3.7.1
IPython 7.18.1

compiler   : MSC v.1915 64 bit (AMD64)
system     : Windows
release    : 10
machine    : AMD64
processor  : AMD64 Family 23 Model 17 Stepping 0, AuthenticAMD
CPU cores  : 8
interpreter: 64bit

### and, or, not

In [2]:
# Define variables
cocina = 18.0
tu_cocina = 14.0

# my_kitchen bigger than 10 and smaller than 18?
print(cocina > 10 and tu_cocina < 18)

# my_kitchen smaller than 14 or bigger than 17?
print(cocina < 14 or tu_cocina > 17)

True
False

In [4]:
# Create arrays
import numpy as np
casa = np.array([18.0, 20.0, 10.75, 9.50])
tu_casa = np.array([14.0, 24.0, 14.25, 9.0])

# casa greater than 18.5 or smaller than 10
print(np.logical_or(casa > 18.5, 
               casa < 10))

# Both casa and tu_casa smaller than 11
print(np.logical_and(casa < 11, 
               tu_casa < 11))

[False  True False  True]
[False False False  True]

### If else

In [6]:
# si el area de mi cuarto es menor que 9 es peque
area = 10.0
if(area < 9) :
    print("peque")
    # si el area es menor de que doce es mediana
elif(area < 12) :
    print("media")
    # pero si es de otro tamagno es grande
else :
    print("grande")

media

In [7]:
# Define variables
cuarto = "matri"
area = 14.0

# if statement for cuarto
# si el cuarto es matrimonial si cabemos
if cuarto == "matri" :
    print("si cabemos")

# if statement for area
# si el area es mayor que 15 es grande
if area > 15:
    print("es grande!" )

Mira en la ccina

In [18]:
# Define variables
cuarto = "Matrimonial"
area = 14.0

# if-else construct for room
if cuarto == "Matrimonial" :
    print("SI cabemos")
else :
    print("Ni de coña")

# if-else construct for area
if area > 15 :
    print("Es grande!")
else :
    print("Muy peque")

SI cabemos
Muy peque

In [22]:
# Define variables
cuarto = "Indi"
area = 14.0

# if-else construct for room
if cuarto == "Matri" :
    print("Si cabemos")
elif cuarto == "Indi":
    print("No cabemos")
else :
    print("No lo sé")

# if-elif-else construct for area
if area > 15 :
    print("lugar grande!")
elif area >10:
    print("tañagno mediano, guay!" )
else :
    print("Muy peque")

No cabemos
tañagno mediano, guay!

## Driving right

In [42]:
# Import cars data
import pandas as pd
# en la col cero estan los nombres de los paises
cars = pd.read_csv('cars.csv', index_col = 0)


# Extract drives_right column as Series: dr
dr = cars["drives_right"]
dr

US      True
AUS    False
JAP    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool

In [43]:
# solo va a poner los paises que conducen por la derecha 
#drives_rightes una columna booleana, 
#por lo que tendrá que extraerla como una Serie y
#luego usar esta Serie booleana para seleccionar observaciones cars.
# Use dr to subset cars: sel
sel= cars[dr]

# Print sel
print(sel)

     cars_per_cap        country  drives_right
US            809  United States          True
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [44]:
cars.shape

(7, 3)

In [45]:
cars.head()

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True

In [46]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)
# innecesariamente una nueva variable dr
# Convert code to a one-liner
dr = cars['drives_right']
dr

US      True
AUS    False
JAP    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool

In [47]:
#Puede lograr el mismo resultado sin esta variable intermedia. 
#Coloque el código que calcula drdirectamente entre los corchetes de los que se seleccionan las observaciones cars
sel = cars[cars['drives_right']]

# Print sel
print(sel)

     cars_per_cap        country  drives_right
US            809  United States          True
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [49]:
#seleccionaremos los que conducen por la izquierda 
# debemos de tener cuidado ya que es una booleana 
izq = cars[cars.drives_right == False]
izq

     cars_per_cap    country  drives_right
AUS           731  Australia         False
JAP           588      Japan         False
IN             18      India         False

In [50]:
# seleccionaremos solo el pais India
India = cars[cars.country == "India"]
India

    cars_per_cap country  drives_right
IN            18   India         False

In [16]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Create car_maniac: observations that have a cars_per_cap over 500
cpc = cars['cars_per_cap']

many_cars = cpc > 500
cars[many_cars]

# Print car_maniac
print(cars[many_cars])

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False

In [17]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Import numpy, you'll need this
import numpy as np

# Create medium: observations with cars_per_cap between 100 and 500
cpc = cars['cars_per_cap']
between = np.logical_and(cpc > 100, cpc < 500)
medium = cars[between]

# Print medium
print(medium)

    cars_per_cap country  drives_right
RU           200  Russia          True